.assets {

    &__video_grid {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1rem;
    }
    &__video_card {
        img {
            width: 100%;
            aspect-ratio: 16 / 9;
            object-fit: cover;
            object-position: center;
        }
    }

}
