.join_cta {
    padding-block: 5rem;
    background-image: url('../img/join-bg.png');
    background-size: auto 100%;
    background-position: top right;
    background-repeat: no-repeat;
    background-color: var(--col-red-400);
    color: white;
    .content {
        max-width: 75ch;
    }
}