.partners {
    &__grid {
        display: grid;
        gap: 1rem;
        @media (min-width:576px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (min-width:992px) {
            grid-template-columns: repeat(4, 1fr);
        }
    }
    &__card {
        display: grid;
        grid-template-rows: auto 1fr;
        background-color: var(--col-grey-200);
        padding: 1rem;
        transition: background-color var(--transition);
        text-align: center;
        img {
            aspect-ratio: 2 / 1;
            width: 100%;
            object-fit: contain;
            object-position: center;
            margin-bottom: 1rem;
        }
        &:hover {
            background-color: var(--col-grey-100);
        }
    }
    &__title {
        font-size: var(--fs-400);
        font-weight: var(--fw-600);
    }
}