.sector_subnav {
    background-color: var(--col-blue-400);
    .container-xl {
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
        width: 100%;

        a {
            flex: 1;
            text-align: center;
            background-color: var(--col-red-400);
            color: white;
            text-decoration: none;
            padding-block: 0.5rem;
            transition: background-color var(--transition);
            min-width: 300px;
            &:not(:last-of-type) {
                border-bottom: 1px solid white;
            }
            @media (min-width:640px) {
                &:not(:last-of-type) {
                    border-right: 1px solid white;
                    border-bottom: none;
                }
            }
            &:hover {
                background-color: var(--col-red-900);
            }
        }
    }
}