.supplier_list {
    &__card {
        background-color: var(--col-grey-100);
        display: block;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid white;
        padding: 1rem 2rem;
    }
}