.two_col_feature {
    &__card {
        position: relative;
        height: 100%;
        isolation: isolate;
        overflow: hidden;
        display: grid;
        grid-template-rows: auto 1fr auto;
    }
    &__overlay {
        position: absolute;
        inset: 0;
        z-index: -1;
        mix-blend-mode: multiply;
    }
    &__bg {
        position: absolute;
        inset: 0;
        background-image: var(--background);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        filter: grayscale(1) brightness(0.7) blur(2px);
        z-index: -2;
    }
    &__inner {
        padding: 1rem;
        font-size: var(--fs-200);
    }
    .h4 {
        padding: 0.5rem 1rem;
    }
    &__cta {
        padding: 0.5rem 1rem;
        a {
            color: white;
            font-weight: var(--fw-600);
            &::after {
                content: "\f105";
                font-family: var(--ff-fa);
                padding-left: 0.5rem;
                transition: padding-left var(--transition);
            }
            &:hover {
                color: white;
                &::after {
                    padding-left: 1rem;
                }
            }
        }
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_2' data-name='Layer 2' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='none' viewBox='0 0 121.06 54.71'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: url(%23linear-gradient); %7D .cls-1, .cls-2 %7B stroke-width: 0px; %7D .cls-2 %7B fill: url(%23linear-gradient-2); %7D %3C/style%3E%3ClinearGradient id='linear-gradient' x1='60.53' y1='54.71' x2='60.53' y2='0' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fff' stop-opacity='.2'/%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='linear-gradient-2' x1='60.53' y1='54.71' x2='60.53' y2='0' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fff' stop-opacity='.3'/%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='cls-1' points='64.94 54.71 0 54.71 0 0 121.06 0 64.94 54.71'/%3E%3Cpolygon class='cls-2' points='0 54.71 0 0 121.06 0 0 54.71'/%3E%3C/g%3E%3C/svg%3E");
        background-size: 100px 100%;
        background-repeat: no-repeat;
    }
}

.bg--red {
    background-color: var(--col-red-300);
    color: white;
    .two_col_feature__overlay {
        background-color: var(--col-red-300);
    }
    .h4 {
        background-color: var(--col-red-400);
    }
    .two_col_feature__cta {
        background-color: var(--col-red-400);
    }
}
.bg--blue {
    background-color: var(--col-blue-300);
    color: white;
    .two_col_feature__overlay {
        background-color: var(--col-blue-300);
    }
    .h4 {
        background-color: var(--col-blue-400);
    }
    .two_col_feature__cta {
        background-color: var(--col-blue-400);
    }
}