.container-xl {
    .container-xl {
        padding-left: 0;
        padding-right: 0;
    }
}

.wp-block-columns {
    gap: 1rem;
}

.clear {
    clear: both;
}

// #main ul:not(.contact_list) li {
//     &::marker {
//         content: "\f105\0020";
//         font-family: var(--ff-fa);
//         font-weight: 600;
//     }
// }