.partner {
    margin-top: calc(var(--h-top) + 2rem);

    &__logo {
        object-fit: contain;
        object-position: center left;
        width: 100%;
        height: 10rem;
        margin-bottom: 1rem;
    }

    &__sidebar {
        position: sticky;
        top: var(--h-top);
        background-color: var(--col-blue-400);
        color: var(--col-light);
        padding: 1rem;
        a {
            color: var(--col-light);
            &:hover {
                color: var(--col-red-400);
            }
            &.active {
                font-weight: var(--fw-600);
            }
        }
    }
}

.partners {
    &__grid {
        display: grid;
        gap: 2rem;
        @media (min-width:576px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (min-width:992px) {
            grid-template-columns: repeat(4, 1fr);
        }
    }
    &__card {
        img {
            aspect-ratio: 2 / 1;
            width: 100%;
            object-fit: contain;
            object-position: center;
            margin: 0 1rem 1rem 1rem;
        }
        &:hover {
            .partners__title {
                background-color: var(--col-red-400);
            }
        }
    }
    &__title {
        background-color: var(--col-blue-400);
        color: var(--col-light);
        padding: 0.5rem 1rem;
        font-size: var(--fs-400);
        font-weight: var(--fw-600);
        transition: background-color var(--transition);
    }
}