.sidebar {
    position: sticky;
    top: var(--h-top);
    @media (min-width: 992px) {
        top: calc( var(--h-top-desktop) + 1.5rem);
    }
    color: white;
    a {
        color: white;
    }
    &__search .h5,
    &__blue .h5,
    &__red .h5 {
        padding: 0.5rem 1rem;
    }
    &__blue {
        background-color: var(--col-blue-300);
        .h5 {
            background-color: var(--col-blue-400);
        }
    }
    &__red {
        background-color: var(--col-red-300);
        .h5 {
            background-color: var(--col-red-400);
        }
    }
    &__inner {
        padding: 0.5rem 1rem 1rem 1rem;
        ul {
            list-style: square;
            padding-inline-start: 1rem;
            margin-bottom: 0;
            li a.active {
                font-weight: var(--fw-600);
            }
        }
    }
    &__search {
        background-color: var(--col-red-300);
        .h5 {
            background-color: var(--col-red-400);
        }
    }

    .form {
        display: flex;
        .btn-search {
            background-color: var(--col-blue-400);
        }
    }
}