.supplier {
    &__content {
        margin-top: 3rem;
        @media (min-width: 992px) {
            margin-top: 3rem;
        }
    }

    &__sidebar {
        position: sticky;
        top: calc( var(--h-top) + 2rem );
        @media (min-width: 992px) {
            top: calc( var(--h-top-desktop) + 2rem );
        }
    }
    
    &__detail {
        background-color: var(--col-grey);
        color: var(--col-dark);
        padding: 1rem;
        h3 {
            font-size: var(--fs-500);
            font-weight: var(--fw-900);
        }

        dt {
            text-transform: uppercase;
            color: var(--col-blue-400);
            font-size: var(--fs-200);
            margin-top: 1rem;
        }

        .contact_role {
            font-size: var(--fs-200);
        }
    }

    &__website, &__contact {
        display: block;
        color: white;
        padding: 0.5rem 1rem;
        transition: background-color var(--transition);
        text-transform: uppercase;
        font-size: var(--fs-200);
        font-weight: var(--fw-600);
        display: grid;
        grid-template-columns: 30px auto;
        align-items: center;
        column-gap: 0.25rem;
        &::after {
            content: "";
        }
    }

    &__website {
        background-color: var(--col-red-400);
        &:hover {
            color: white;
            background-color: color-mix(in srgb, var(--col-red-400), #000 20%) ;
        }
    }
    &__contact {
        background-color: var(--col-blue-400);
        &:hover {
            color: white;
            background-color: color-mix(in srgb, var(--col-blue-400), #000 20%) ;
        }
    }

    .modal-dialog {
        max-width: unset;
        width: min(800px,90vw);
        margin-inline: auto;
    }
    .modal-content {
        background-color: transparent;
        border: none;
    }
    .modal-body {
        padding: 0
    }

    &__tags {
        font-size: var(--fs-200);
    }

    // &__website,
    // &__contact {
    //     color: white;
    //     &::after {
    //         content: "\f061";
    //         font-family: "font awesome 6 free";
    //         font-weight: 600;
    //         padding-left: 0.5rem;
    //         transition: padding var(--transition);
    //     }
    //     &:hover::after {
    //         padding-left: 1rem;
    //     }
    // }

    &__socials {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        font-size: var(--fs-500);
        background-color: var(--col-grey);
        a {
            color: color-mix(in srgb, var(--col-grey), #000 30%);
            &:hover {
                color: color-mix(in srgb, var(--col-grey), #000 60%);
            }
        }
    }

    .accordion-item {
        border-radius: 0 !important;
        border: 1px solid white;
    }
    .accordion-button {
        border-radius: 0 !important;
        background-color: var(--col-grey) !important;
    }
    .accordion-button:focus {
        outline: 0;
        box-shadow: none;
    }
    .accordion-button[aria-expanded="true"] {
        background-color: var(--col-grey-200) !important;
    }
    .accordion-collapse {
        background-color: var(--col-grey-100);
    }
}

// cards and stuff
.suppliers {
    &__card {
        display: block;
        width: 100%;
        border-bottom: 1px solid steelblue;
        padding: 1rem;
        transition: background-color var(--transition);
        &:hover {
            background-color: var(--col-grey);
        }
    }
}