.btn {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    font-weight: var(--fw-900);
    font-size: var(--fs-300);
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    border-radius: 0;
    border: none;
    min-width: 250px;
    position: relative;
    z-index: 0;
    transition: color var(--transition);
}
.btn-white {
    background-color: white;
    color: black;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: hsl(var(--hsl-col-blue-400) / 0.2);
        z-index: -1;
        transition: transform var(--transition);
        transform: scalex(0);
        transform-origin: center;
    }
    &:hover::after {
        transform: scalex(1);
    }
}

.btn-blue {
    background-color: var(--col-blue-400);
    color: white;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: hsl(var(--hsl-col-blue-400) / 0.2);
        z-index: -1;
        transition: transform var(--transition);
        transform: scalex(0);
        transform-origin: center;
    }
    &:hover::after {
        transform: scalex(1);
    }
}

// .btn-outline {
//     border: 2py solid var(--col-blue);
//     transition: background-color var(--transition);
//     color: var(--col-light);
//     &:hover {
//         background-color: var(--col-blue);
//         color: var(--col-light);
//     }
// }
// .btn-dark {
//     background-color: var(--col-dark);
//     color: var(--col-light);
//     border: 2px solid var(--col-dark);
//     transition: background-color var(--transition), color var(--transition);
//     &:hover {
//         background-color: var(--col-light);
//         color: var(--col-dark);
//     }
// }

// .btn-blue {
//     background-color: var(--col-blue);
//     color: var(--col-light);
//     border: 2px solid var(--col-blue);
//     transition: background-color var(--transition), color var(--transition);
//     &:hover {
//         background-color: var(--col-light);
//         color: var(--col-blue);
//     }
// }

.filter-button {
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--col-dark);
    background-color: var(--col-light);
    color: var(--col-dark);
    font-size: var(--fs-200);
    &.active {
        border: 1px solid var(--col-dark);
        background-color: var(--col-dark);
        color: var(--col-light);
    }
}