.text--white {
    color: #fff;
}

.bg-blue,
.has-blue-background-color {
    background-color: var(--col-blue-400) !important;
}
.text-blue,
.has-blue-color {
    color: var(--col-blue-400) !important;
}

.bg-red,
.has-red-background-color {
    background-color: var(--col-red-400) !important;
}
.text-red,
.has-red-color {
    color: var(--col-red-400);
}

.bg-dark {
    background-color: var(--col-dark);
}

.bg-grey,
.has-grey-background-color {
    background-color: var(--col-grey);
}

.bg-grey-100 {
    background-color: var(--col-grey-100);
}
.bg-grey-200 {
    background-color: var(--col-grey-200);
}