// $col-primary: hsl(345, 6%, 13%);
$col-primary: hsl(198, 100%, 29%);
$col-secondary: hsl(353, 76%, 47%);
$col-grey: hsl(0, 0%, 93%);

:root {

    --hsl-dark: 345 6% 13%;
    --hsl-light: 0 0% 100%;
    --hsl-grey: 0 0% 93%;
    --hsl-grey-200: 0 0% 96%;
    --hsl-grey-100: 0 0% 98%;

    --hsl-blue-100: 198  41% 79%;
    --hsl-blue-200: 198  41% 65%;
    --hsl-blue-300: 198  42% 50%;
    --hsl-blue-400: 198 100% 29%;

    --hsl-red-100: 353 68% 84%;
    --hsl-red-200: 353 69% 74%;
    --hsl-red-300: 353 69% 63%;
    --hsl-red-400: 353 76% 47%;
    --hsl-red-900: 353 76% 37%;
    
    --col-dark: hsl(var(--hsl-dark));
    --col-light: hsl(var(--hsl-light));
    --col-grey: hsl(var(--hsl-grey));
    --col-grey-200: hsl(var(--hsl-grey-200));
    --col-grey-100: hsl(var(--hsl-grey-100));

    --col-blue: hsl(var(--hsl-blue-400));
    --col-blue-400: hsl(var(--hsl-blue-400));
    --col-blue-100: hsl(var(--hsl-blue-100));
    --col-blue-200: hsl(var(--hsl-blue-200));
    --col-blue-300: hsl(var(--hsl-blue-300));

    --col-red: hsl(var(--hsl-red-400));
    --col-red-900: hsl(var(--hsl-red-900));
    --col-red-400: hsl(var(--hsl-red-400));
    --col-red-100: hsl(var(--hsl-red-100));
    --col-red-200: hsl(var(--hsl-red-200));
    --col-red-300: hsl(var(--hsl-red-300));

    --h-top: 90px;
    --h-top-desktop: 115px;

    --fw-400: 400;
    --fw-600: 600;
    --fw-900: 800;

    --ff-fa: "Font Awesome 6 Free";

    --fs-100: 0.649rem;
    --fs-200: 0.833rem;
    --fs-400: 1rem;
    --fs-450: 1.2rem;
    --fs-500: 1.44rem;
    --fs-600: 1.728rem;
    --fs-700: 2.074rem;
    --fs-800: 2.488rem;
    --fs-900: 2.986rem;

    --transition: 200ms ease-out;

    --border0: 0.25rem;
    --border1: 0.5rem;
    --border2: 1rem;
}