// $col-primary: hsl(345, 6%, 13%);
$col-primary: hsl(198, 100%, 29%);
$col-secondary: hsl(353, 76%, 47%);
$col-grey: hsl(0, 0%, 93%);

:root {

    --hsl-col-dark: 345 6% 13%;
    --hsl-col-light: 0 0% 100%;
    --hsl-col-grey: 0 0% 93%;

    --hsl-col-blue-100: 198  41% 79%;
    --hsl-col-blue-200: 198  41% 65%;
    --hsl-col-blue-300: 198  42% 50%;
    --hsl-col-blue-400: 198 100% 29%;

    --hsl-col-red-100: 353 68% 84%;
    --hsl-col-red-200: 353 69% 74%;
    --hsl-col-red-300: 353 69% 63%;
    --hsl-col-red-400: 353 76% 47%;
    
    --col-dark: hsl(var(--hsl-col-dark));
    --col-light: hsl(var(--hsl-col-light));
    --col-grey: hsl(var(--hsl-col-grey));

    --col-blue: hsl(var(--hsl-col-blue-400));
    --col-blue-400: hsl(var(--hsl-col-blue-400));
    --col-blue-100: hsl(var(--hsl-col-blue-100));
    --col-blue-200: hsl(var(--hsl-col-blue-200));
    --col-blue-300: hsl(var(--hsl-col-blue-300));

    --col-red: hsl(var(--hsl-col-red-400));
    --col-red-400: hsl(var(--hsl-col-red-400));
    --col-red-100: hsl(var(--hsl-col-red-100));
    --col-red-200: hsl(var(--hsl-col-red-200));
    --col-red-300: hsl(var(--hsl-col-red-300));

    --h-top: 90px;
    --h-top-desktop: 115px;

    --fw-400: 400;
    --fw-600: 600;
    --fw-900: 800;


    /* @link https://utopia.fyi/type/calculator?c=320,16,1.067,1240,18,1.25,5,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    /* Step -1: 15.00px → 14.40px */
    --fs-200: clamp(0.90rem, calc(0.95rem + -0.07vw), 0.94rem);
    /* Step 0: 16.00px → 18.00px */
    --fs-400: clamp(1.00rem, calc(0.96rem + 0.22vw), 1.13rem);
    /* Step 1: 17.07px → 22.50px */
    --fs-500: clamp(1.07rem, calc(0.95rem + 0.59vw), 1.41rem);
    /* Step 2: 18.22px → 28.13px */
    --fs-600: clamp(1.14rem, calc(0.92rem + 1.08vw), 1.76rem);
    /* Step 3: 19.44px → 35.16px */
    --fs-700: clamp(1.22rem, calc(0.87rem + 1.71vw), 2.20rem);
    /* Step 4: 20.74px → 43.95px */
    --fs-800: clamp(1.30rem, calc(0.79rem + 2.52vw), 2.75rem);
    /* Step 5: 22.13px → 54.93px */
    --fs-900: clamp(1.38rem, calc(0.67rem + 3.57vw), 3.43rem);

    --transition: 200ms ease-out;

    --border1: 0.5rem;
    --border2: 1rem;
}