/* montserrat-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v26-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v26-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-800 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/montserrat-v26-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    font-variant-ligatures: none;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Montserrat', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: var(--fw-400);
    font-size: 1rem;
    // font-size: clamp(1.00rem, calc(0.91rem + 0.43vw), 1.25rem);
    line-height: 1.556;
    letter-spacing: .016rem;
    font-style: normal;
    color: var(--col-dark);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


h1, .h1, h2, .h2, h3, .h3, h4, .h4, .h99 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    margin-bottom: 0.5rem;
    font-weight: var(--fw-400);
    span, strong {
        font-weight: var(--fw-900);
        color: var(--col-blue-400);
    }
    text-wrap: balance;
}

.has-dark-background-color {
    h1, .h1, h2, .h2, h3, .h3, h4, .h4, .h99 {
        color: var(--col-light);
    }
}

h1, .h1 {
    font-size: var(--fs-800);
    font-weight: var(--fw-600);
}
h2, .h2 {
    font-size: var(--fs-700);
}
h3, .h3 {
    font-size: var(--fs-600);
}
h4, .h4, .has-large-font-size {
    font-size: var(--fs-500);
}
h5, .h5, .has-medium-font-size {
    font-size: var(--fs-450);
}


strong, b {
    font-weight: var(--fw-600);
}

.w-constrained {
    max-width: 90ch;
    margin-inline: auto
}

.constrain-right {
    @media (min-width:992px) {
        max-width: min(600px,90vw);
        margin-right: auto;
    }
}
.constrain-left {
    @media (min-width:992px) {
        max-width: min(600px,90vw);
        margin-left: auto;
    }
}

.balanced {
    display: block;
    text-wrap: balance;
}

.wrap {
    text-wrap: wrap;
}

.fs-200 {
    font-size: var(--fs-200);
}
.fs-400 {
    font-size: var(--fs-400);
}
.has-medium-font-size,
.fs-500 {
    font-size: var(--fs-500);
}
.fs-600 {
    font-size: var(--fs-600);
}
.fs-700 {
    font-size: var(--fs-700);
}
.fs-800 {
    font-size: var(--fs-800);
}
.fs-900 {
    font-size: var(--fs-900);
}

.fw-400 {
    font-weight: var(--fw-400);
}
.fw-600 {
    font-weight: var(--fw-600);
}
.fw-900 {
    font-weight: var(--fw-900);
}